package components

css container() {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

css banner() {
}

templ layout() {
	<div class="container">
		<head>
		</head>
		<main></main>
		<footer>Prova footer</footer>
	</div>
}
